<h1> Página de Cadastro </h1>
</br>
<form action='/cadastro/salvar' method='post'> 
<label>Título</label>
<input id='txTitulo' type='text' name='titulo' pleaceholder='Título da notícia'/>
</br>
<label>Notícia</label>
<textarea id='txNoticia' name='texto' rows='5' col='30'></textarea>
</br>
<input id='btCadastrar' type='submit' text='Cadastrar' value='Enviar' />
</form>