<h1>Detalhe de Notícia</h1>

<table>
    <tr>
        <td>Título</td><td>Data de Cadastro</td><td>Noticia</td>
    </tr>
    <tr>
        <td><%= noticia[0].titulo %></td><td><%= noticia[0].data_cadastro %></td><td><%= noticia[0].texto %></td>
    </tr> 
</table>